<a href="https://colab.research.google.com/github/allanbraquiel/Data_Science_Projects/blob/master/An%C3%A1lise_Censo_Ensino_Superior.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Projeto de análise do censo so ensino superior de 2009 a 2019

# Dicionário dos dados

Dados coletados na base de dados no INEP. Para acessar os dados clique no link abaixo:

https://www.gov.br/inep/pt-br/areas-de-atuacao/pesquisas-estatisticas-e-indicadores/censo-da-educacao-superior/resultados?_authenticator=73b6b0e03f10cadf5ec8ab8e09e6be4f931e571f



*   NU_ANO_CENSO -  Ano de Referência do Censo Superior

* TP_CATEGORIA_ADMINISTRATIVA - Tipo da Categoria Administrativa da IES

>1. Pública Federal
>2. Pública Estadual
>3. Pública Municipal
>4. Privada com fins lucrativos
>5. Privada sem fins lucrativos
>6. Privada - Particular em sentido estrito
>7. Especial
>8. Privada comunitária
>9. Privada confessional

*   CO_CURSO - Código único de identificação do curso gerado pelo E-MEC

*   TP_TURNO - Tipo do turno do curso ao qual o aluno está vinculado

> 1. Matutino
> 2. Vespertino
> 3. Noturno
> 4. Integral

> (.) Não aplicável (EAD)

*   TP_GRAU_ACADEMICO - Tipo do grau acadêmico conferido ao diplomado pelo curso


> 1. Bacharelado
> 2. Licenciatura
> 3. Tecnológico
> 4. Bacharelado e Licenciatura

> (.) Não aplicável (cursos com nivel acadêmico igual a sequencial de formação específica ou  cursos com área básica de curso)

*   TP_MODALIDADE_ENSINO - Tipo da modalidade de ensino do curso


> 1. Presencial
> 2. Curso a distância


*   TP_NIVEL_ACADEMICO - Tipo do nível acadêmico do curso


> 1. Graduação

> 2. Seqüencial de Formação Específica


*   TP_COR_RACA - Tipo da cor/raça do aluno

> 0. Aluno não quis declarar cor/raça
> 1. Branca
> 3. Preta
> 3. Parda
> 4. Amarela
> 5. Indígena
> 9. Não dispõe da informação (Não resposta)

*   TP_SEXO - Informa o sexo do aluno

> 0. Não Informado
> 1. Feminino
> 2. Masculino  

*   NU_IDADE - Idade que o aluno completa no ano de referência do Censo

*   TP_NACIONALIDADE - Tipo da nacionalidade do aluno

> 1. Brasileira
> 2. Brasileira - nascido no exterior ou naturalizado
> 3. Estrangeira   

*   CO_PAIS_ORIGEM - Código do país de nascimento ou de naturalização do aluno estrangeiro

*   CO_UF_NASCIMENTO - Código do IBGE da Unidade da Federação de nascimento do aluno

* CO_MUNICIPIO_NASCIMENTO - Código do IBGE do município de nascimento do aluno

*   IN_DEFICIENCIA - nforma se o aluno é uma pessoa com deficiência auditiva

> 0. Não
> 1. Sim 

> (.) Aluno não possui qualquer tipo de deficiência

*   TP_SITUACAO - Tipo de situação de vínculo do aluno no curso

> 2. Cursando
> 3. Matrícula trancada
> 4. Desvinculado do curso
> 5. Transferido para outro curso da mesma IES
> 6. Formado
> 7. Falecido   

*   IN_INGRESSO_VESTIBULAR - Informa se o aluno ingressou no curso por vestibular. 

> 0. Não
> 1. Sim

*   IN_INGRESSO_ENEM - Informa se o aluno ingressou no curso pelo Enem. 

> 0. Não
> 1. Sim

*   IN_RESERVA_ETNICO - Informa se o aluno ingressou por meio de programa de reserva de vagas de cunho etnico

> 0. Não (aluno possui outro tipo de reserva de vagas)
> 1. Sim (aluno não possui qualquer tipo de reserva de vagas)

*   N_RESERVA_ENSINO_PUBLICO -  Informa se o aluno ingressou por meio de programa de reserva de vagas para egressos da escola pública

> 0. Não (aluno possui outro tipo de reserva de vagas)
> 1. Sim (aluno não possui qualquer tipo de reserva de vagas)

*   IN_RESERVA_RENDA_FAMILIAR - Informa se o aluno ingressou por meio de programa de reserva de vagas de cunho social/renda familiar

> 0. Não (aluno possui outro tipo de reserva de vagas)
> 1. Sim (aluno não possui qualquer tipo de reserva de vagas)

*   IN_FINANCIAMENTO_ESTUDANTIL - Informa se o aluno utiliza financiamento estudantil

> 0. Não
> 1. Sim

*   IN_FIN_REEMB_FIES - Informa se o aluno utiliza o Fundo de Financiamento Estudantil (Fies) como forma de financimanto estudantil reembolsável

> 0. Não (Aluno possui outro tipo de financiamento)
> 1. Sim (.) Aluno não possui qualquer tipo de financiamento

*   IN_FIN_NAOREEMB_PROUNI_INTEGR - Informa se o aluno é bolsista integral do Programa Universidade para Todos (Prouni), tipo de financiamento estudantil não reembolsável

> 0. Não (Aluno possui outro tipo de financiamento)
> 1. Sim (.) Aluno não possui qualquer tipo de financiamento

*   IN_FIN_NAOREEMB_PROUNI_PARCIAL - Informa se o aluno é bolsista parcial do Programa Universidade para Todos (Prouni), tipo de financiamento estudantil não reembolsável

> 0. Não (Aluno possui outro tipo de financiamento)
> 1. Sim (.) Aluno não possui qualquer tipo de financiamento

*   IN_BOLSA_ESTAGIO - Informa se o aluno recebe bolsa/remuneraçãopor participar de atividade extracurricular de extensão. 

> 0. Não (Aluno faz atividade extracurricular de estágio, mas não recebe bolsa)
> 1. Sim (.) Aluno não faz atividade extracurricular de estágio


* NU_ANO_INGRESSO - Ano de ingresso do aluno curso

In [1]:
import pandas as pd
import numpy as np
import zipfile
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

import pylab
pylab.rcParams['figure.figsize'] = (15.0, 10.0)

# Carregando os dados

Listando os arquivos que estão dentro do arquivo compactado

In [2]:
with zipfile.ZipFile("/content/drive/MyDrive/Colab_Notebooks/Projeto Sigalei/microdados_educacao_superior_2019.zip") as z:
  print(*z.namelist(), sep="\n")

Microdados_Educaç╞o_Superior_2019/
Microdados_Educaç╞o_Superior_2019/anexos/
Microdados_Educaç╞o_Superior_2019/anexos/ANEXO I - Dicionário de Variáveis e Tabelas Auxiliares/
Microdados_Educaç╞o_Superior_2019/anexos/ANEXO I - Dicionário de Variáveis e Tabelas Auxiliares/Código_do_País_de_Nascimento_ou_Naturalizaç╞o.xlsx
Microdados_Educaç╞o_Superior_2019/anexos/ANEXO I - Dicionário de Variáveis e Tabelas Auxiliares/Dicionário de Variáveis.xls
Microdados_Educaç╞o_Superior_2019/anexos/ANEXO II - Questionários do Censo da Educaç╞o Superior/
Microdados_Educaç╞o_Superior_2019/anexos/ANEXO II - Questionários do Censo da Educaç╞o Superior/ANEXO II - MαDULO ALUNO 2019.pdf
Microdados_Educaç╞o_Superior_2019/anexos/ANEXO II - Questionários do Censo da Educaç╞o Superior/ANEXO II - MαDULO CURSO 2019.pdf
Microdados_Educaç╞o_Superior_2019/anexos/ANEXO II - Questionários do Censo da Educaç╞o Superior/ANEXO II - MαDULO DOCENTE 2019.pdf
Microdados_Educaç╞o_Superior_2019/anexos/ANEXO II - Questionários do Censo da Educaç╞o Superior/ANEXO II - MαDULO IES 2019.pdf
Microdados_Educaç╞o_Superior_2019/dados/
Microdados_Educaç╞o_Superior_2019/dados/MD5_microdados_ed_superior_2019.txt
Microdados_Educaç╞o_Superior_2019/dados/SUP_ALUNO_2019.CSV
Microdados_Educaç╞o_Superior_2019/dados/SUP_CURSO_2019.CSV
Microdados_Educaç╞o_Superior_2019/dados/SUP_DOCENTE_2019.CSV
Microdados_Educaç╞o_Superior_2019/dados/SUP_IES_2019.CSV
Microdados_Educaç╞o_Superior_2019/dados/SUP_LOCAL_OFERTA_2019.CSV
Microdados_Educaç╞o_Superior_2019/dados/TB_AUX_CINE_BRASIL_2019.CSV
Microdados_Educaç╞o_Superior_2019/filtros/
Microdados_Educaç╞o_Superior_2019/filtros/Filtros Censo Ed Superior 2019.pdf
Microdados_Educaç╞o_Superior_2019/leia-me/
Microdados_Educaç╞o_Superior_2019/leia-me/Leia_me Superior_2019.pdf

Carregando o dataset somente com as colunas para verificar quais colunas serão utilizadas na análise

In [3]:
with zipfile.ZipFile("/content/drive/MyDrive/Colab_Notebooks/Projeto Sigalei/microdados_educacao_superior_2019.zip") as z:
  with z.open("Microdados_Educaç╞o_Superior_2019/dados/SUP_ALUNO_2019.CSV") as f:
    df = pd.read_csv(f, sep="|", nrows=0)

In [4]:
df.columns.values

array(['NU_ANO_CENSO', 'CO_IES', 'TP_CATEGORIA_ADMINISTRATIVA',
       'TP_ORGANIZACAO_ACADEMICA', 'CO_CURSO', 'CO_CURSO_POLO',
       'TP_TURNO', 'TP_GRAU_ACADEMICO', 'TP_MODALIDADE_ENSINO',
       'TP_NIVEL_ACADEMICO', 'CO_CINE_ROTULO', 'ID_ALUNO',
       'CO_ALUNO_CURSO', 'CO_ALUNO_CURSO_ORIGEM', 'TP_COR_RACA',
       'TP_SEXO', 'NU_ANO_NASCIMENTO', 'NU_MES_NASCIMENTO',
       'NU_DIA_NASCIMENTO', 'NU_IDADE', 'TP_NACIONALIDADE',
       'CO_PAIS_ORIGEM', 'CO_UF_NASCIMENTO', 'CO_MUNICIPIO_NASCIMENTO',
       'IN_DEFICIENCIA', 'IN_DEFICIENCIA_AUDITIVA',
       'IN_DEFICIENCIA_FISICA', 'IN_DEFICIENCIA_INTELECTUAL',
       'IN_DEFICIENCIA_MULTIPLA', 'IN_DEFICIENCIA_SURDEZ',
       'IN_DEFICIENCIA_SURDOCEGUEIRA', 'IN_DEFICIENCIA_BAIXA_VISAO',
       'IN_DEFICIENCIA_CEGUEIRA', 'IN_DEFICIENCIA_SUPERDOTACAO',
       'IN_TGD_AUTISMO', 'IN_TGD_SINDROME_ASPERGER',
       'IN_TGD_SINDROME_RETT', 'IN_TGD_TRANSTOR_DESINTEGRATIVO',
       'TP_SITUACAO', 'QT_CARGA_HORARIA_TOTAL', 'QT_CARGA_HORARIA_INTEG',
       'DT_INGRESSO_CURSO', 'IN_INGRESSO_VESTIBULAR', 'IN_INGRESSO_ENEM',
       'IN_INGRESSO_AVALIACAO_SERIADA', 'IN_INGRESSO_SELECAO_SIMPLIFICA',
       'IN_INGRESSO_OUTRO_TIPO_SELECAO', 'IN_INGRESSO_VAGA_REMANESC',
       'IN_INGRESSO_VAGA_PROG_ESPECIAL', 'IN_INGRESSO_TRANSF_EXOFFICIO',
       'IN_INGRESSO_DECISAO_JUDICIAL', 'IN_INGRESSO_CONVENIO_PECG',
       'IN_INGRESSO_EGRESSO', 'IN_INGRESSO_OUTRA_FORMA',
       'IN_RESERVA_VAGAS', 'IN_RESERVA_ETNICO', 'IN_RESERVA_DEFICIENCIA',
       'IN_RESERVA_ENSINO_PUBLICO', 'IN_RESERVA_RENDA_FAMILIAR',
       'IN_RESERVA_OUTRA', 'IN_FINANCIAMENTO_ESTUDANTIL',
       'IN_FIN_REEMB_FIES', 'IN_FIN_REEMB_ESTADUAL',
       'IN_FIN_REEMB_MUNICIPAL', 'IN_FIN_REEMB_PROG_IES',
       'IN_FIN_REEMB_ENT_EXTERNA', 'IN_FIN_REEMB_OUTRA',
       'IN_FIN_NAOREEMB_PROUNI_INTEGR', 'IN_FIN_NAOREEMB_PROUNI_PARCIAL',
       'IN_FIN_NAOREEMB_ESTADUAL', 'IN_FIN_NAOREEMB_MUNICIPAL',
       'IN_FIN_NAOREEMB_PROG_IES', 'IN_FIN_NAOREEMB_ENT_EXTERNA',
       'IN_FIN_NAOREEMB_OUTRA', 'IN_APOIO_SOCIAL', 'IN_APOIO_ALIMENTACAO',
       'IN_APOIO_BOLSA_PERMANENCIA', 'IN_APOIO_BOLSA_TRABALHO',
       'IN_APOIO_MATERIAL_DIDATICO', 'IN_APOIO_MORADIA',
       'IN_APOIO_TRANSPORTE', 'IN_ATIVIDADE_EXTRACURRICULAR',
       'IN_COMPLEMENTAR_ESTAGIO', 'IN_COMPLEMENTAR_EXTENSAO',
       'IN_COMPLEMENTAR_MONITORIA', 'IN_COMPLEMENTAR_PESQUISA',
       'IN_BOLSA_ESTAGIO', 'IN_BOLSA_EXTENSAO', 'IN_BOLSA_MONITORIA',
       'IN_BOLSA_PESQUISA', 'TP_ESCOLA_CONCLUSAO_ENS_MEDIO',
       'IN_ALUNO_PARFOR', 'TP_SEMESTRE_CONCLUSAO',
       'TP_SEMESTRE_REFERENCIA', 'IN_MOBILIDADE_ACADEMICA',
       'TP_MOBILIDADE_ACADEMICA', 'TP_MOBILIDADE_ACADEMICA_INTERN',
       'CO_IES_DESTINO', 'CO_PAIS_DESTINO', 'IN_MATRICULA',
       'IN_CONCLUINTE', 'IN_INGRESSO_TOTAL', 'IN_INGRESSO_VAGA_NOVA',
       'IN_INGRESSO_PROCESSO_SELETIVO', 'NU_ANO_INGRESSO'], dtype=object)

Selecionando as colunas que serão analisadas

In [5]:
colunas = ['NU_ANO_CENSO', 'TP_CATEGORIA_ADMINISTRATIVA', 'CO_CURSO', 'TP_TURNO', 'TP_GRAU_ACADEMICO', 'TP_MODALIDADE_ENSINO', 'TP_NIVEL_ACADEMICO', 'TP_COR_RACA', 'TP_SEXO', 'NU_IDADE', 'TP_NACIONALIDADE', 
           'CO_PAIS_ORIGEM', 'CO_UF_NASCIMENTO', 'TP_SITUACAO', 'IN_INGRESSO_VESTIBULAR', 'IN_INGRESSO_ENEM', 'IN_RESERVA_ETNICO', 
           'IN_RESERVA_ENSINO_PUBLICO', 'IN_RESERVA_RENDA_FAMILIAR', 'IN_FINANCIAMENTO_ESTUDANTIL', 'IN_FIN_REEMB_FIES', 'IN_FIN_NAOREEMB_PROUNI_INTEGR', 
           'IN_FIN_NAOREEMB_PROUNI_PARCIAL', 'IN_BOLSA_ESTAGIO', 'NU_ANO_INGRESSO']

Carregando os dados de 2019

In [6]:
with zipfile.ZipFile("/content/drive/MyDrive/Colab_Notebooks/Projeto Sigalei/microdados_educacao_superior_2019.zip") as z:
  with z.open("Microdados_Educaç╞o_Superior_2019/dados/SUP_ALUNO_2019.CSV") as f:
    df_2019 = pd.read_csv(f, sep="|", usecols=colunas)

In [7]:
df_2019.head()

   NU_ANO_CENSO  TP_CATEGORIA_ADMINISTRATIVA  ...  IN_BOLSA_ESTAGIO  NU_ANO_INGRESSO
0          2019                            1  ...               NaN             2017
1          2019                            1  ...               NaN             2016
2          2019                            1  ...               NaN             2012
3          2019                            1  ...               NaN             2015
4          2019                            1  ...               NaN             2013

[5 rows x 25 columns]

In [8]:
with zipfile.ZipFile("/content/drive/MyDrive/Colab_Notebooks/Projeto Sigalei/microdados_educacao_superior_2018.zip") as z:
  print(*z.namelist(), sep="\n")

microdados_ed_superior_2018/
microdados_ed_superior_2018/anexos/
microdados_ed_superior_2018/anexos/ANEXO I - Dicionário de Variáveis e Tabelas Auxiliares/
microdados_ed_superior_2018/anexos/ANEXO I - Dicionário de Variáveis e Tabelas Auxiliares/Código_do_País_de_Nascimento_ou_Naturalizaç╞o.xlsx
microdados_ed_superior_2018/anexos/ANEXO I - Dicionário de Variáveis e Tabelas Auxiliares/Dicionário de Variáveis.xls
microdados_ed_superior_2018/anexos/ANEXO II - Questionários do Censo da Educaç╞o Superior/
microdados_ed_superior_2018/anexos/ANEXO II - Questionários do Censo da Educaç╞o Superior/ANEXO II - MαDULO ALUNO 2018.pdf
microdados_ed_superior_2018/anexos/ANEXO II - Questionários do Censo da Educaç╞o Superior/ANEXO II - MαDULO CURSO 2018.pdf
microdados_ed_superior_2018/anexos/ANEXO II - Questionários do Censo da Educaç╞o Superior/ANEXO II - MαDULO DOCENTE 2018.pdf
microdados_ed_superior_2018/anexos/ANEXO II - Questionários do Censo da Educaç╞o Superior/ANEXO II - MαDULO IES 2018.pdf
microdados_ed_superior_2018/dados/
microdados_ed_superior_2018/dados/DM_ALUNO.CSV
microdados_ed_superior_2018/dados/DM_CURSO.CSV
microdados_ed_superior_2018/dados/DM_DOCENTE.CSV
microdados_ed_superior_2018/dados/DM_IES.CSV
microdados_ed_superior_2018/dados/DM_LOCAL_OFERTA.CSV
microdados_ed_superior_2018/dados/MD5_microdados_ed_superior_2018.txt
microdados_ed_superior_2018/dados/TB_AUX_CINE_BRASIL.CSV
microdados_ed_superior_2018/filtros/
microdados_ed_superior_2018/filtros/Filtros Censo Ed Superior 2018.pdf
microdados_ed_superior_2018/leia-me/
microdados_ed_superior_2018/leia-me/Leia_me Superior_2018.pdf
microdados_ed_superior_2018/leia-me/Nota_informativa.pdf

Carregando os dados de 2018

In [9]:
with zipfile.ZipFile("/content/drive/MyDrive/Colab_Notebooks/Projeto Sigalei/microdados_educacao_superior_2018.zip") as z:
  with z.open("microdados_ed_superior_2018/dados/DM_ALUNO.CSV") as f:
    df_2018 = pd.read_csv(f, sep="|", usecols=colunas)

In [10]:
df_2018.head()

   NU_ANO_CENSO  TP_CATEGORIA_ADMINISTRATIVA  ...  IN_BOLSA_ESTAGIO  NU_ANO_INGRESSO
0          2018                            1  ...               NaN             2017
1          2018                            1  ...               NaN             2016
2          2018                            1  ...               NaN             2012
3          2018                            1  ...               NaN             2015
4          2018                            1  ...               NaN             2013

[5 rows x 25 columns]

Carregando os dados de 2017

In [11]:
with zipfile.ZipFile("/content/drive/MyDrive/Colab_Notebooks/Projeto Sigalei/microdados_educacao_superior_2017.zip") as z:
  print(*z.namelist(), sep="\n")

microdados_educacao_superior_2017/
microdados_educacao_superior_2017/Microdados_Educacao_Superior_2017/
microdados_educacao_superior_2017/Microdados_Educacao_Superior_2017/ANEXOS/
microdados_educacao_superior_2017/Microdados_Educacao_Superior_2017/ANEXOS/ANEXO I - Dicionário de Dados e Tabelas Auxiliares/
microdados_educacao_superior_2017/Microdados_Educacao_Superior_2017/ANEXOS/ANEXO I - Dicionário de Dados e Tabelas Auxiliares/Código_do_País_de_Nascimento_ou_Naturalizaç╞o.xlsx
microdados_educacao_superior_2017/Microdados_Educacao_Superior_2017/ANEXOS/ANEXO I - Dicionário de Dados e Tabelas Auxiliares/Dicionário_de_Dados.xlsx
microdados_educacao_superior_2017/Microdados_Educacao_Superior_2017/ANEXOS/ANEXO I - Dicionário de Dados e Tabelas Auxiliares/~$Cópia de DICIONARIO_DM_TODOS_ANOS_v2 (002).xlsx
microdados_educacao_superior_2017/Microdados_Educacao_Superior_2017/ANEXOS/ANEXO II - Questionários do Censo da Educaç╞o Superior/
microdados_educacao_superior_2017/Microdados_Educacao_Superior_2017/ANEXOS/ANEXO II - Questionários do Censo da Educaç╞o Superior/ANEXO II - MαDULO ALUNO 2017.pdf
microdados_educacao_superior_2017/Microdados_Educacao_Superior_2017/ANEXOS/ANEXO II - Questionários do Censo da Educaç╞o Superior/ANEXO II - MαDULO CURSO 2017.pdf
microdados_educacao_superior_2017/Microdados_Educacao_Superior_2017/ANEXOS/ANEXO II - Questionários do Censo da Educaç╞o Superior/ANEXO II - MαDULO DOCENTE 2017.pdf
microdados_educacao_superior_2017/Microdados_Educacao_Superior_2017/ANEXOS/ANEXO II - Questionários do Censo da Educaç╞o Superior/ANEXO II - MαDULO IES 2017.pdf
microdados_educacao_superior_2017/Microdados_Educacao_Superior_2017/DADOS/
microdados_educacao_superior_2017/Microdados_Educacao_Superior_2017/DADOS/DM_ALUNO/
microdados_educacao_superior_2017/Microdados_Educacao_Superior_2017/DADOS/DM_ALUNO.zip
microdados_educacao_superior_2017/Microdados_Educacao_Superior_2017/DADOS/DM_ALUNO/DM_ALUNO.CSV
microdados_educacao_superior_2017/Microdados_Educacao_Superior_2017/DADOS/DM_CURSO.zip
microdados_educacao_superior_2017/Microdados_Educacao_Superior_2017/DADOS/DM_DOCENTE.zip
microdados_educacao_superior_2017/Microdados_Educacao_Superior_2017/DADOS/DM_IES.zip
microdados_educacao_superior_2017/Microdados_Educacao_Superior_2017/DADOS/DM_LOCAL_OFERTA.zip
microdados_educacao_superior_2017/Microdados_Educacao_Superior_2017/DADOS/md5_microdados_ed_superior_2017.txt
microdados_educacao_superior_2017/Microdados_Educacao_Superior_2017/DADOS/TB_AUX_AREA_OCDE.zip
microdados_educacao_superior_2017/Microdados_Educacao_Superior_2017/FILTROS/
microdados_educacao_superior_2017/Microdados_Educacao_Superior_2017/FILTROS/Filtros_Educacao_Superior_2017.pdf
microdados_educacao_superior_2017/Microdados_Educacao_Superior_2017/FILTROS/~$ltros Censo Ed Superior 2017.doc
microdados_educacao_superior_2017/Microdados_Educacao_Superior_2017/LEIA-ME/
microdados_educacao_superior_2017/Microdados_Educacao_Superior_2017/LEIA-ME/Leia_me Superior_2017.pdf

In [12]:
with zipfile.ZipFile("/content/drive/MyDrive/Colab_Notebooks/Projeto Sigalei/microdados_educacao_superior_2017.zip") as z:
   with z.open("microdados_educacao_superior_2017/Microdados_Educacao_Superior_2017/DADOS/DM_ALUNO/DM_ALUNO.CSV") as f:
    df_2017 = pd.read_csv(f, sep="|",usecols=colunas)

In [13]:
df_2017.head()

   NU_ANO_CENSO  TP_CATEGORIA_ADMINISTRATIVA  ...  IN_BOLSA_ESTAGIO  NU_ANO_INGRESSO
0          2017                            1  ...               NaN             2017
1          2017                            1  ...               NaN             2016
2          2017                            1  ...               NaN             2012
3          2017                            1  ...               NaN             2015
4          2017                            1  ...               NaN             2013

[5 rows x 25 columns]

In [14]:
with zipfile.ZipFile("/content/drive/MyDrive/Colab_Notebooks/Projeto Sigalei/microdados_censo_superior_2016.zip") as z:
  print(*z.namelist(), sep="\n")

microdados_censo_superior_2016/
microdados_censo_superior_2016/ANEXOS/
microdados_censo_superior_2016/ANEXOS/ANEXO I - Dicionário de Dados e Tabelas Auxiliares/
microdados_censo_superior_2016/ANEXOS/ANEXO I - Dicionário de Dados e Tabelas Auxiliares/Código do País de Nascimento ou Naturalizaç╞o.xlsx
microdados_censo_superior_2016/ANEXOS/ANEXO I - Dicionário de Dados e Tabelas Auxiliares/Dicionários de Dados.xls
microdados_censo_superior_2016/ANEXOS/ANEXO II -  Questionários do Censo da Educaç╞o Superior/
microdados_censo_superior_2016/ANEXOS/ANEXO II -  Questionários do Censo da Educaç╞o Superior/ANEXO II - MαDULO ALUNO 2016.pdf
microdados_censo_superior_2016/ANEXOS/ANEXO II -  Questionários do Censo da Educaç╞o Superior/ANEXO II - MαDULO CURSO 2016.pdf
microdados_censo_superior_2016/ANEXOS/ANEXO II -  Questionários do Censo da Educaç╞o Superior/ANEXO II - MαDULO DOCENTE 2016.pdf
microdados_censo_superior_2016/ANEXOS/ANEXO II -  Questionários do Censo da Educaç╞o Superior/ANEXO II - MαDULO IES 2016.pdf
microdados_censo_superior_2016/DADOS/
microdados_censo_superior_2016/DADOS/DM_ALUNO/
microdados_censo_superior_2016/DADOS/DM_ALUNO.rar
microdados_censo_superior_2016/DADOS/DM_ALUNO/DM_ALUNO.CSV
microdados_censo_superior_2016/DADOS/DM_CURSO.rar
microdados_censo_superior_2016/DADOS/DM_DOCENTE.rar
microdados_censo_superior_2016/DADOS/DM_IES.rar
microdados_censo_superior_2016/DADOS/DM_LOCAL_OFERTA.rar
microdados_censo_superior_2016/DADOS/md5_microdados_ed_superior_2016.txt
microdados_censo_superior_2016/FILTROS/
microdados_censo_superior_2016/FILTROS/Filtros Censo Ed Superior 2016.pdf
microdados_censo_superior_2016/LEIA-ME/
microdados_censo_superior_2016/LEIA-ME/Leia_me Superior_2016.pdf

In [15]:
with zipfile.ZipFile("/content/drive/MyDrive/Colab_Notebooks/Projeto Sigalei/microdados_censo_superior_2016.zip") as z:
   with z.open("microdados_censo_superior_2016/DADOS/DM_ALUNO/DM_ALUNO.CSV") as f:
    df_2016 = pd.read_csv(f, sep="|", nrows=0)

In [16]:
df_2016.columns.values

array(['CO_IES', 'NO_IES', 'CO_CATEGORIA_ADMINISTRATIVA',
       'DS_CATEGORIA_ADMINISTRATIVA', 'CO_ORGANIZACAO_ACADEMICA',
       'DS_ORGANIZACAO_ACADEMICA', 'CO_CURSO', 'NO_CURSO',
       'CO_CURSO_POLO', 'CO_TURNO_ALUNO', 'DS_TURNO_ALUNO',
       'CO_GRAU_ACADEMICO', 'DS_GRAU_ACADEMICO', 'CO_MODALIDADE_ENSINO',
       'DS_MODALIDADE_ENSINO', 'CO_NIVEL_ACADEMICO', 'DS_NIVEL_ACADEMICO',
       'CO_OCDE', 'NO_OCDE', 'CO_OCDE_AREA_GERAL', 'NO_OCDE_AREA_GERAL',
       'CO_OCDE_AREA_ESPECIFICA', 'NO_OCDE_AREA_ESPECIFICA',
       'CO_OCDE_AREA_DETALHADA', 'NO_OCDE_AREA_DETALHADA',
       'CO_ALUNO_CURSO', 'CO_ALUNO_CURSO_ORIGEM', 'CO_ALUNO',
       'CO_COR_RACA_ALUNO', 'DS_COR_RACA_ALUNO', 'IN_SEXO_ALUNO',
       'DS_SEXO_ALUNO', 'NU_ANO_ALUNO_NASC', 'NU_MES_ALUNO_NASC',
       'NU_DIA_ALUNO_NASC', 'NU_IDADE_ALUNO', 'CO_NACIONALIDADE_ALUNO',
       'DS_NACIONALIDADE_ALUNO', 'CO_PAIS_ORIGEM_ALUNO',
       'CO_UF_NASCIMENTO', 'CO_MUNICIPIO_NASCIMENTO',
       'IN_ALUNO_DEF_TGD_SUPER', 'IN_DEF_AUDITIVA', 'IN_DEF_FISICA',
       'IN_DEF_INTELECTUAL', 'IN_DEF_MULTIPLA', 'IN_DEF_SURDEZ',
       'IN_DEF_SURDOCEGUEIRA', 'IN_DEF_BAIXA_VISAO', 'IN_DEF_CEGUEIRA',
       'IN_DEF_SUPERDOTACAO', 'IN_TGD_AUTISMO_INFANTIL',
       'IN_TGD_SINDROME_ASPERGER', 'IN_TGD_SINDROME_RETT',
       'IN_TGD_TRANSTOR_DESINTEGRATIVO', 'CO_ALUNO_SITUACAO',
       'DS_ALUNO_SITUACAO', 'QT_CARGA_HORARIA_TOTAL',
       'QT_CARGA_HORARIA_INTEG', 'DT_INGRESSO_CURSO', 'IN_ING_VESTIBULAR',
       'IN_ING_ENEM', 'IN_ING_AVALIACAO_SERIADA',
       'IN_ING_SELECAO_SIMPLIFICADA', 'IN_ING_SELECAO_VAGA_REMANESC',
       'IN_ING_SELECAO_VAGA_PROG_ESPEC', 'IN_ING_TRANSF_EXOFFICIO',
       'IN_ING_DECISAO_JUDICIAL', 'IN_ING_CONVENIO_PECG',
       'IN_RESERVA_VAGAS', 'IN_RESERVA_ETNICO', 'IN_RESERVA_DEFICIENCIA',
       'IN_RESERVA_ENSINO_PUBLICO', 'IN_RESERVA_RENDA_FAMILIAR',
       'IN_RESERVA_OUTRA', 'IN_FINANC_ESTUDANTIL', 'IN_FIN_REEMB_FIES',
       'IN_FIN_REEMB_ESTADUAL', 'IN_FIN_REEMB_MUNICIPAL',
       'IN_FIN_REEMB_PROG_IES', 'IN_FIN_REEMB_ENT_EXTERNA',
       'IN_FIN_REEMB_OUTRA', 'IN_FIN_NAOREEMB_PROUNI_INTEGR',
       'IN_FIN_NAOREEMB_PROUNI_PARCIAL', 'IN_FIN_NAOREEMB_ESTADUAL',
       'IN_FIN_NAOREEMB_MUNICIPAL', 'IN_FIN_NAOREEMB_PROG_IES',
       'IN_FIN_NAOREEMB_ENT_EXTERNA', 'IN_FIN_NAOREEMB_OUTRA',
       'IN_APOIO_SOCIAL', 'IN_APOIO_ALIMENTACAO',
       'IN_APOIO_BOLSA_PERMANENCIA', 'IN_APOIO_BOLSA_TRABALHO',
       'IN_APOIO_MATERIAL_DIDATICO', 'IN_APOIO_MORADIA',
       'IN_APOIO_TRANSPORTE', 'IN_ATIVIDADE_EXTRACURRICULAR',
       'IN_COMPL_ESTAGIO', 'IN_COMPL_EXTENSAO', 'IN_COMPL_MONITORIA',
       'IN_COMPL_PESQUISA', 'IN_BOLSA_ESTAGIO', 'IN_BOLSA_EXTENSAO',
       'IN_BOLSA_MONITORIA', 'IN_BOLSA_PESQUISA',
       'CO_TIPO_ESCOLA_ENS_MEDIO', 'IN_ALUNO_PARFOR',
       'CO_SEMESTRE_CONCLUSAO', 'CO_SEMESTRE_REFERENCIA',
       'IN_MOBILIDADE_ACADEMICA', 'CO_MOBILIDADE_ACADEMICA',
       'CO_MOBILIDADE_ACADEMICA_INTERN', 'CO_IES_DESTINO',
       'CO_PAIS_DESTINO', 'IN_MATRICULA', 'IN_CONCLUINTE',
       'IN_INGRESSO_TOTAL', 'IN_INGRESSO_VAGA_NOVA', 'ANO_INGRESSO'],
      dtype=object)

In [17]:
colunas2 = ['CO_CURSO', 'CO_CATEGORIA_ADMINISTRATIVA', 'CO_TURNO_ALUNO', 'CO_GRAU_ACADEMICO', 'CO_MODALIDADE_ENSINO', 
            'CO_NIVEL_ACADEMICO', 'CO_COR_RACA_ALUNO', 'IN_SEXO_ALUNO', 'NU_IDADE_ALUNO', 'CO_NACIONALIDADE_ALUNO', 
           'CO_PAIS_ORIGEM_ALUNO', 'CO_UF_NASCIMENTO', 'CO_ALUNO_SITUACAO', 'IN_ING_VESTIBULAR', 
            'IN_ING_ENEM', 'IN_RESERVA_ETNICO', 'IN_RESERVA_ENSINO_PUBLICO', 'IN_RESERVA_RENDA_FAMILIAR', 
            'IN_FINANC_ESTUDANTIL', 'IN_FIN_REEMB_FIES', 'IN_FIN_NAOREEMB_PROUNI_INTEGR', 
           'IN_FIN_NAOREEMB_PROUNI_PARCIAL', 'IN_BOLSA_ESTAGIO', 'ANO_INGRESSO']

In [ ]:
with zipfile.ZipFile("/content/drive/MyDrive/Colab_Notebooks/Projeto Sigalei/microdados_censo_superior_2016.zip") as z:
   with z.open("microdados_censo_superior_2016/DADOS/DM_ALUNO/DM_ALUNO.CSV") as f:
    df_2016 = pd.read_csv(f, sep="|", usecols=colunas2)

In [ ]:
df_2016["NU_ANO_CENSO"] = 2016

In [ ]:
df_2016.rename(columns={"CO_GRAU_ACADEMICO": "TP_GRAU_ACADEMICO", "CO_CATEGORIA_ADMINISTRATIVA": "TP_CATEGORIA_ADMINISTRATIVA", "NU_IDADE_ALUNO": "NU_IDADE", "CO_NIVEL_ACADEMICO": "TP_NIVEL_ACADEMICO",
                        "CO_MODALIDADE_ENSINO": "TP_MODALIDADE_ENSINO", "CO_TURNO_ALUNO": "TP_TURNO", "CO_PAIS_ORIGEM_ALUNO": "CO_PAIS_ORIGEM",
                        "CO_NACIONALIDADE_ALUNO": "TP_NACIONALIDADE", "IN_SEXO_ALUNO": "TP_SEXO", "IN_ING_VESTIBULAR": "IN_INGRESSO_VESTIBULAR",
                        "CO_COR_RACA_ALUNO": "TP_COR_RACA", "CO_ALUNO_SITUACAO": "TP_SITUACAO", "IN_FINANC_ESTUDANTIL": "IN_FINANCIAMENTO_ESTUDANTIL",
                        "ANO_INGRESSO": "NU_ANO_INGRESSO", "IN_ING_ENEM": "IN_INGRESSO_ENEM"}, inplace=True)

In [ ]:
df_2016.head()

Dados 2015

In [ ]:
with zipfile.ZipFile("/content/drive/MyDrive/Colab_Notebooks/Projeto Sigalei/microdados_censo_superior_2015.zip") as z:
  print(*z.namelist(), sep="\n")

In [ ]:
with zipfile.ZipFile("/content/drive/MyDrive/Colab_Notebooks/Projeto Sigalei/microdados_censo_superior_2015.zip") as z:
   with z.open("microdados_censo_superior_2015/microdados_censo_superior_2015/DADOS/DM_ALUNO/DM_ALUNO.CSV") as f:
    df_2015 = pd.read_csv(f, sep="|",usecols=colunas2)

In [ ]:
df_2015["NU_ANO_CENSO"] = 2015

In [ ]:
df_2015.rename(columns={"CO_GRAU_ACADEMICO": "TP_GRAU_ACADEMICO", "CO_CATEGORIA_ADMINISTRATIVA": "TP_CATEGORIA_ADMINISTRATIVA", "NU_IDADE_ALUNO": "NU_IDADE", "CO_NIVEL_ACADEMICO": "TP_NIVEL_ACADEMICO",
                        "CO_MODALIDADE_ENSINO": "TP_MODALIDADE_ENSINO", "CO_TURNO_ALUNO": "TP_TURNO", "CO_PAIS_ORIGEM_ALUNO": "CO_PAIS_ORIGEM",
                        "CO_NACIONALIDADE_ALUNO": "TP_NACIONALIDADE", "IN_SEXO_ALUNO": "TP_SEXO", "IN_ING_VESTIBULAR": "IN_INGRESSO_VESTIBULAR",
                        "CO_COR_RACA_ALUNO": "TP_COR_RACA", "CO_ALUNO_SITUACAO": "TP_SITUACAO", "IN_FINANC_ESTUDANTIL": "IN_FINANCIAMENTO_ESTUDANTIL",
                        "ANO_INGRESSO": "NU_ANO_INGRESSO", "IN_ING_ENEM": "IN_INGRESSO_ENEM"}, inplace=True)

In [ ]:
df_2015.head()

Dados 2014

In [ ]:
with zipfile.ZipFile("/content/drive/MyDrive/Colab_Notebooks/Projeto Sigalei/microdados_censo_superior_2014.zip") as z:
  print(*z.namelist(), sep="\n")

In [ ]:
with zipfile.ZipFile("/content/drive/MyDrive/Colab_Notebooks/Projeto Sigalei/microdados_censo_superior_2014.zip") as z:
   with z.open("microdados_censo_superior_2014/2014/DADOS/DM_ALUNO.CSV") as f:
    df_2014 = pd.read_csv(f, sep="|",usecols=colunas2)

In [ ]:
df_2014["NU_ANO_CENSO"] = 2014

In [ ]:
df_2014.rename(columns={"CO_GRAU_ACADEMICO": "TP_GRAU_ACADEMICO", "CO_CATEGORIA_ADMINISTRATIVA": "TP_CATEGORIA_ADMINISTRATIVA", "NU_IDADE_ALUNO": "NU_IDADE", "CO_NIVEL_ACADEMICO": "TP_NIVEL_ACADEMICO",
                        "CO_MODALIDADE_ENSINO": "TP_MODALIDADE_ENSINO", "CO_TURNO_ALUNO": "TP_TURNO", "CO_PAIS_ORIGEM_ALUNO": "CO_PAIS_ORIGEM",
                        "CO_NACIONALIDADE_ALUNO": "TP_NACIONALIDADE", "IN_SEXO_ALUNO": "TP_SEXO", "IN_ING_VESTIBULAR": "IN_INGRESSO_VESTIBULAR",
                        "CO_COR_RACA_ALUNO": "TP_COR_RACA", "CO_ALUNO_SITUACAO": "TP_SITUACAO", "IN_FINANC_ESTUDANTIL": "IN_FINANCIAMENTO_ESTUDANTIL",
                        "ANO_INGRESSO": "NU_ANO_INGRESSO", "IN_ING_ENEM": "IN_INGRESSO_ENEM"}, inplace=True)

In [ ]:
df_2014.head()

Dados 2013

In [ ]:
with zipfile.ZipFile("/content/drive/MyDrive/Colab_Notebooks/Projeto Sigalei/microdados_censo_superior_2013.zip") as z:
  print(*z.namelist(), sep="\n")

In [ ]:
with zipfile.ZipFile("/content/drive/MyDrive/Colab_Notebooks/Projeto Sigalei/microdados_censo_superior_2013.zip") as z:
   with z.open("microdados_censo_superior_2013/2013/DADOS/DM_ALUNO/DM_ALUNO.CSV") as f:
    df_2013 = pd.read_csv(f, sep="|",usecols=colunas2)

In [ ]:
df_2013["NU_ANO_CENSO"] = 2013

In [ ]:
df_2013.rename(columns={"CO_GRAU_ACADEMICO": "TP_GRAU_ACADEMICO", "CO_CATEGORIA_ADMINISTRATIVA": "TP_CATEGORIA_ADMINISTRATIVA", "NU_IDADE_ALUNO": "NU_IDADE", "CO_NIVEL_ACADEMICO": "TP_NIVEL_ACADEMICO",
                        "CO_MODALIDADE_ENSINO": "TP_MODALIDADE_ENSINO", "CO_TURNO_ALUNO": "TP_TURNO", "CO_PAIS_ORIGEM_ALUNO": "CO_PAIS_ORIGEM",
                        "CO_NACIONALIDADE_ALUNO": "TP_NACIONALIDADE", "IN_SEXO_ALUNO": "TP_SEXO", "IN_ING_VESTIBULAR": "IN_INGRESSO_VESTIBULAR",
                        "CO_COR_RACA_ALUNO": "TP_COR_RACA", "CO_ALUNO_SITUACAO": "TP_SITUACAO", "IN_FINANC_ESTUDANTIL": "IN_FINANCIAMENTO_ESTUDANTIL",
                        "ANO_INGRESSO": "NU_ANO_INGRESSO", "IN_ING_ENEM": "IN_INGRESSO_ENEM"}, inplace=True)

In [ ]:
df_2013.head()

Dados 2012

In [ ]:
with zipfile.ZipFile("/content/drive/MyDrive/Colab_Notebooks/Projeto Sigalei/microdados_censo_superior_2012.zip") as z:
  print(*z.namelist(), sep="\n")

In [ ]:
with zipfile.ZipFile("/content/drive/MyDrive/Colab_Notebooks/Projeto Sigalei/microdados_censo_superior_2012.zip") as z:
   with z.open("microdados_censo_superior_2012/2012/DADOS/DM_ALUNO/DM_ALUNO.CSV") as f:
    df_2012 = pd.read_csv(f, sep="|",usecols=colunas2)

In [ ]:
df_2012["NU_ANO_CENSO"] = 2012

In [ ]:
df_2012.rename(columns={"CO_GRAU_ACADEMICO": "TP_GRAU_ACADEMICO", "CO_CATEGORIA_ADMINISTRATIVA": "TP_CATEGORIA_ADMINISTRATIVA", "NU_IDADE_ALUNO": "NU_IDADE", "CO_NIVEL_ACADEMICO": "TP_NIVEL_ACADEMICO",
                        "CO_MODALIDADE_ENSINO": "TP_MODALIDADE_ENSINO", "CO_TURNO_ALUNO": "TP_TURNO", "CO_PAIS_ORIGEM_ALUNO": "CO_PAIS_ORIGEM",
                        "CO_NACIONALIDADE_ALUNO": "TP_NACIONALIDADE", "IN_SEXO_ALUNO": "TP_SEXO", "IN_ING_VESTIBULAR": "IN_INGRESSO_VESTIBULAR",
                        "CO_COR_RACA_ALUNO": "TP_COR_RACA", "CO_ALUNO_SITUACAO": "TP_SITUACAO", "IN_FINANC_ESTUDANTIL": "IN_FINANCIAMENTO_ESTUDANTIL",
                        "ANO_INGRESSO": "NU_ANO_INGRESSO", "IN_ING_ENEM": "IN_INGRESSO_ENEM"}, inplace=True)

In [ ]:
df_2012.head()

Dados 2011

In [ ]:
with zipfile.ZipFile("/content/drive/MyDrive/Colab_Notebooks/Projeto Sigalei/microdados_censo_superior_2011.zip") as z:
  print(*z.namelist(), sep="\n")

In [ ]:
with zipfile.ZipFile("/content/drive/MyDrive/Colab_Notebooks/Projeto Sigalei/microdados_censo_superior_2011.zip") as z:
   with z.open("microdados_censo_superior_2011/2011/DADOS/DM_ALUNO/DM_ALUNO.CSV") as f:
    df_2011 = pd.read_csv(f, sep="|",usecols=colunas2)

In [ ]:
df_2011["NU_ANO_CENSO"] = 2011

In [ ]:
df_2011.rename(columns={"CO_GRAU_ACADEMICO": "TP_GRAU_ACADEMICO", "CO_CATEGORIA_ADMINISTRATIVA": "TP_CATEGORIA_ADMINISTRATIVA", "NU_IDADE_ALUNO": "NU_IDADE", "CO_NIVEL_ACADEMICO": "TP_NIVEL_ACADEMICO",
                        "CO_MODALIDADE_ENSINO": "TP_MODALIDADE_ENSINO", "CO_TURNO_ALUNO": "TP_TURNO", "CO_PAIS_ORIGEM_ALUNO": "CO_PAIS_ORIGEM",
                        "CO_NACIONALIDADE_ALUNO": "TP_NACIONALIDADE", "IN_SEXO_ALUNO": "TP_SEXO", "IN_ING_VESTIBULAR": "IN_INGRESSO_VESTIBULAR",
                        "CO_COR_RACA_ALUNO": "TP_COR_RACA", "CO_ALUNO_SITUACAO": "TP_SITUACAO", "IN_FINANC_ESTUDANTIL": "IN_FINANCIAMENTO_ESTUDANTIL",
                        "ANO_INGRESSO": "NU_ANO_INGRESSO", "IN_ING_ENEM": "IN_INGRESSO_ENEM"}, inplace=True)

In [ ]:
df_2011.head()

Dados 2010

In [ ]:
with zipfile.ZipFile("/content/drive/MyDrive/Colab_Notebooks/Projeto Sigalei/microdados_censo_superior_2010.zip") as z:
  print(*z.namelist(), sep="\n")

In [ ]:
with zipfile.ZipFile("/content/drive/MyDrive/Colab_Notebooks/Projeto Sigalei/microdados_censo_superior_2010.zip") as z:
   with z.open("microdados_censo_superior_2010/DADOS/DM_ALUNO/DM_ALUNO.CSV") as f:
    df_2010 = pd.read_csv(f, sep="|",usecols=colunas2)

In [ ]:
df_2010["NU_ANO_CENSO"] = 2010

In [ ]:
df_2010.rename(columns={"CO_GRAU_ACADEMICO": "TP_GRAU_ACADEMICO", "CO_CATEGORIA_ADMINISTRATIVA": "TP_CATEGORIA_ADMINISTRATIVA", "NU_IDADE_ALUNO": "NU_IDADE", "CO_NIVEL_ACADEMICO": "TP_NIVEL_ACADEMICO",
                        "CO_MODALIDADE_ENSINO": "TP_MODALIDADE_ENSINO", "CO_TURNO_ALUNO": "TP_TURNO", "CO_PAIS_ORIGEM_ALUNO": "CO_PAIS_ORIGEM",
                        "CO_NACIONALIDADE_ALUNO": "TP_NACIONALIDADE", "IN_SEXO_ALUNO": "TP_SEXO", "IN_ING_VESTIBULAR": "IN_INGRESSO_VESTIBULAR",
                        "CO_COR_RACA_ALUNO": "TP_COR_RACA", "CO_ALUNO_SITUACAO": "TP_SITUACAO", "IN_FINANC_ESTUDANTIL": "IN_FINANCIAMENTO_ESTUDANTIL",
                        "ANO_INGRESSO": "NU_ANO_INGRESSO", "IN_ING_ENEM": "IN_INGRESSO_ENEM"}, inplace=True)

In [ ]:
df_2010.head()

Dados 2009

In [ ]:
with zipfile.ZipFile("/content/drive/MyDrive/Colab_Notebooks/Projeto Sigalei/microdados_censo_superior_2009.zip") as z:
  print(*z.namelist(), sep="\n")

In [ ]:
colunas3 = ['CO_CURSO', 'CO_GRAU_ACADEMICO', 'CO_CATEGORIA_ADMINISTRATIVA','CO_MODALIDADE_ENSINO', 
            'CO_NIVEL_ACADEMICO', 'CO_COR_RACA_ALUNO', 'IN_SEXO_ALUNO', 'NU_IDADE_ALUNO', 'CO_NACIONALIDADE_ALUNO', 
           'CO_PAIS_ORIGEM_ALUNO', 'CO_ALUNO_SITUACAO', 'IN_ING_VESTIBULAR', 
            'IN_ING_ENEM', 'IN_RESERVA_ETNICO', 'IN_RESERVA_ENSINO_PUBLICO', 'IN_RESERVA_RENDA_FAMILIAR', 
            'IN_FINANC_ESTUDANTIL', 'IN_FIES', 'IN_PROUNI_INTEGRAL', 
           'IN_PROUNI_PARCIAL', 'IN_APOIO_BOLSA_TRABALHO', 'ANO_INGRESSO']

In [ ]:
with zipfile.ZipFile("/content/drive/MyDrive/Colab_Notebooks/Projeto Sigalei/microdados_censo_superior_2009.zip") as z:
   with z.open("microdados_censo_superior_2009/2009/DADOS/DM_ALUNO/DM_ALUNO.CSV") as f:
    df_2009 = pd.read_csv(f, sep="|",usecols=colunas3)

In [ ]:
df_2009["CO_UF_NASCIMENTO"] = 'null'
df_2009["CO_TURNO_ALUNO"] = 'null'
df_2009["NU_ANO_CENSO"] = 2009

In [ ]:
df_2009.head()

In [ ]:
df_2009.rename(columns={"CO_GRAU_ACADEMICO": "TP_GRAU_ACADEMICO", "CO_CATEGORIA_ADMINISTRATIVA": "TP_CATEGORIA_ADMINISTRATIVA", "NU_IDADE_ALUNO": "NU_IDADE", "CO_NIVEL_ACADEMICO": "TP_NIVEL_ACADEMICO",
                        "CO_MODALIDADE_ENSINO": "TP_MODALIDADE_ENSINO", "CO_TURNO_ALUNO": "TP_TURNO", "CO_PAIS_ORIGEM_ALUNO": "CO_PAIS_ORIGEM",
                        "CO_NACIONALIDADE_ALUNO": "TP_NACIONALIDADE", "IN_SEXO_ALUNO": "TP_SEXO", "IN_ING_VESTIBULAR": "IN_INGRESSO_VESTIBULAR",
                        "CO_COR_RACA_ALUNO": "TP_COR_RACA", "CO_ALUNO_SITUACAO": "TP_SITUACAO", "IN_FINANC_ESTUDANTIL": "IN_FINANCIAMENTO_ESTUDANTIL",
                        "ANO_INGRESSO": "NU_ANO_INGRESSO", "IN_ING_ENEM": "IN_INGRESSO_ENEM", "IN_APOIO_BOLSA_TRABALHO": "IN_BOLSA_ESTAGIO",
                        "IN_PROUNI_PARCIAL": "IN_FIN_NAOREEMB_PROUNI_PARCIAL", "IN_PROUNI_INTEGRAL": "IN_FIN_NAOREEMB_PROUNI_INTEGR", "IN_FIES": "'IN_FIN_REEMB_FIES"}, inplace=True)

Juntando os dados de todos os anos

In [ ]:
anos = [df_2009, df_2010, df_2011, df_2012, df_2013, df_2014, df_2015, df_2016, df_2017, df_2018, df_2019]
df_anos = pd.concat(anos)

In [ ]:
df_anos.head()

Carregando o dataset com o nome dos cursos

In [ ]:
with zipfile.ZipFile("/content/drive/MyDrive/Colab_Notebooks/Projeto Sigalei/microdados_educacao_superior_2019.zip") as z:
  with z.open("Microdados_Educaç╞o_Superior_2019/dados/SUP_CURSO_2019.CSV") as f:
    df_curso = pd.read_csv(f, sep="|",usecols=["CO_CURSO", "NO_CURSO"], encoding="ISO-8859-1")

In [ ]:
df_curso.head()

# Análise Exploratória

Juntar os datasets do censo com o nome dos cursos

In [ ]:
df_completo = pd.merge(df_anos, df_curso, on="CO_CURSO")

In [ ]:
df_completo.head()

In [ ]:
df_completo.shape

In [ ]:
df_completo.describe()

In [ ]:
df.info()

In [ ]:
df.isnull().sum().sort_values(ascending=False)

Quantidade de negros

In [ ]:
df_completo.TP_COR_RACA.value_counts()

Porcentagem de negros

In [ ]:
df_completo.TP_COR_RACA.value_counts(normalize=True)

In [ ]:
df_completo.TP_COR_RACA.value_counts().plot.pie(wedgeprops=dict(width=0.4), startangle=-40, explode = (0, 0, 0.1, 0, 0, 0, 0), autopct = '%1.2f%%')

In [ ]:
df_completo.TP_SEXO.value_counts(normalize=True)

In [ ]:
plt.style.use("fivethirtyeight")
plt.figure(figsize=(12, 6))
sns.barplot(x=df_completo.TP_SEXO.value_counts(), y=df_completo.TP_SEXO.value_counts().index)
plt.title("Quantidade de alunos por Sexo")

plt.show()

Cursos com maior registros de matriculas

In [ ]:
df_completo.NO_CURSO.value_counts().head(20)

In [ ]:
df_completo.NO_CURSO.value_counts().head(20).plot.bar()

In [ ]:
plt.figure(figsize=(12, 6))
sns.barplot(x=df_completo.NO_CURSO.value_counts().head(20), y=df_completo.NO_CURSO.value_counts().head(20).index)
plt.title("Cursos com maior quantidade de alunos")
plt.show()

Turno mais frequentado pelos alunos

In [ ]:
df_completo.TP_TURNO.value_counts()

Descrição das idades dos alunos

In [ ]:
df_completo.NU_IDADE.describe()

Distribuição das idades dos aluno

In [ ]:
df_completo.NU_IDADE.hist(bins=30, figsize=(10, 8))

Objetivos:

Analisar o impacto da presença de pretos e pardos no curso superior

Algumas análise que podem ser interessantes
- Total de negros matriculados em universidades
- Total de negros matriculados em universidades públicas
- Total e proporção de negros matriculados por tipo de curso em universidades públicas

In [ ]:
df_negros = df_completo.query("TP_COR_RACA == 2")

In [ ]:
df_negros.NO_CURSO.value_counts().head(20)

In [ ]:
df_negros.NU_IDADE.describe()

In [ ]:
df_negros.TP_SEXO.value_counts(normalize=True)

In [ ]:
plt.figure(figsize=(12, 8))
df_negros.TP_SEXO.value_counts(normalize=True).plot.pie(autopct = '%1.2f%%')

In [ ]:
df_negros.NO_CURSO.value_counts().head(20)

In [ ]:
plt.figure(figsize=(12, 6))
sns.barplot(x=df_negros.NO_CURSO.value_counts().head(20), y=df_negros.NO_CURSO.value_counts().head(20).index)
plt.title("Cursos com maior presença de alunos negros")
plt.show()

Distribuição de Categoria de Universidades

Verificando a quantidade de Alunos negros que ingressam em faculdades públicas, de âmbito nacional, estadual e municipal

In [ ]:
df_completo.query("TP_CATEGORIA_ADMINISTRATIVA == 1 or TP_CATEGORIA_ADMINISTRATIVA == 2 or TP_CATEGORIA_ADMINISTRATIVA == 3")["TP_COR_RACA"].value_counts()

In [ ]:
uni_publica = df_completo.query("TP_CATEGORIA_ADMINISTRATIVA == 1 or TP_CATEGORIA_ADMINISTRATIVA == 2 or TP_CATEGORIA_ADMINISTRATIVA == 3")

In [ ]:
uni_publica.TP_COR_RACA.value_counts()

In [ ]:
uni_publica.TP_COR_RACA.value_counts(normalize=True)

Agrupamento de alunos de escolas publicas por curso e raça

In [ ]:
agrupado_publica = uni_publica[['NO_CURSO', 'TP_COR_RACA']].groupby([uni_publica['NO_CURSO'], uni_publica['TP_COR_RACA']])
agrupado_publica.sum().head(50)

## Resultado da análise